:root {
	--text-color: 255, 255, 255;
	--shade-color: 44, 44, 44;
	--main-color: 52, 52, 52;
	--tint-color: 62, 62, 62;
	--hover-color: 71, 71, 71;
	--accent-color: 122, 42, 80;
	color-scheme: dark;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: rgb(var(--main-color));
	color: rgb(var(--text-color));
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	box-sizing: border-box;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.category.groceries {
  background-color: #1f3076;
}
.category.resturant {
  background-color: #761f1f;
}
.category.health {
  background-color: #28761f;
}
.category.household {
  background-color: #6c1f76;
}
.category.hobby {
  background-color: #7e4f19;
}
.category.subscriptions {
  background-color: #747e19;
}
.category.transport {
	background-color: #197e51;
  }
.category.misc {
  background-color: #1f7276;
}